/*-----Global Page Styles-----*/
html{
    font-family: Helvetica;
    font-size: 18px;
    line-height: 1.4;
}

/*.container{
    border: 1px dotted red;
}*/

.container{
    width: 960px;
    margin: 0 auto;
}

/*-----Header and Navigation-----*/

#banner{
    background-image: url(../images/glasses-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem;  
    padding-top:1rem;
}

#bannertext{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#header{
    background-color: cadetblue;
    display: flex;  
    justify-content: space-between;
    padding: 1rem 0;
}

#logo, #nav{
    display: flex;
    align-items: center;
    color: white;
}

#logo img{
    height: 1.5rem;
    margin: 0 1rem 0 2rem;
}

#nav span:last-child{
    display: none;
}

#nav a{
    text-decoration: none;
    color: inherit;
}


h1{
    font-size: 1rem;
}

h2{
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    padding: 1.5rem 5rem;
    position: relative;
    margin-top: 10rem;
    left: 2rem;
    background-color: white;
}


#nav span{
    padding-right: 2rem;
}


#icons-wrap{
    display: flex;
    margin: 3rem 0;
    justify-content: center;
    align-items: stretch;
}


.iconbox{
    height: 8rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    text-align: center;
}

.iconbox:nth-child(2),.iconbox:nth-child(3) {
    margin-left: 6rem;
}


.iconbox img{
    width: 100%;
}

.iconbox span{
    line-height: 1.4;
}


#paragraphs{
    display: flex;
}

.parabox{
    width: 35%;
}

.parabox:last-child{
    padding-left: 5%;
}

#paragraphs h3{
    font-weight: bold;
    font-size: 1rem;
    background-color: cadetblue;
    padding: 0.5rem 1.25rem;
    color: white;
    display: inline-block;
    margin-bottom: 1rem;
    width: 10rem;
}


/*-----Footer Styles-----*/
#footer{
    display: flex;
    padding: 4rem;
    background-color: azure;
    margin-top: 5rem;
    align-items: center;
}

#footer img{
    height: 1.5rem;
    margin-right: 1rem;
}



/*--------Tablet Sizes Media Query------*/

@media only screen and (max-width: 960px){
    #banner{
        height: 22rem;
        padding-top: 0;
    }
    
    .container{
        width: 100%;
    }
    
    h2{
        font-size: 1.33rem;
        padding: 0.75rem 4rem;
        position: relative;
        margin-top: 5rem;
        left: 2rem;
    }
    
    .parabox{
        margin: 0 2rem;
    }

}

/*--------Mobile Sizes Media Query------*/

@media only screen and (max-width: 640px){
    #nav span{
    display: none;
    }
    
    #nav span:last-child{
    display: block;
    }
 
    
    #banner{
        background-position: 20%;
        height: 17rem;
    }
    
    h2{
        padding: 1rem 0;
        width: 100%;
        margin-top: 9rem;
        text-align: center;
        left: 0; 
    }
    
    #icons-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;    
        margin-top: 3.77rem;
    }
    
    
    .iconbox{
        display: inline-block;
        margin-bottom: 0 !important;
        
    }

    .iconbox:nth-child(2),.iconbox:nth-child(3) {
        margin-top: 1.54rem !important;
        margin-left: 0;
    }


    .iconbox img{
        width: 3.5rem;
    }
    
    .imagecont{
        width: 5rem;
    }

    .iconbox span{
        line-height: 1.4;
        font-size: 0.77rem;
        margin-top: 1.54rem !important;
    }
    
    #paragraphs{
        display: inline-block;
    }
    
    .parabox{
        padding: 0 !important;
        font-size: 0.77rem;
        margin:0 0 4rem 0;
        width: 100%;
    }
    
    .parabox h3{
        padding: 0.75rem 0 !important;
        width: 100% !important;
        text-align: center;
    
    }
    
    .parabox p{
        padding: 0 1rem;
    }
    
}